body {
  background-color: #FAFAFA;
  color: #2B2B2B;
  font-family: 'Poppins', sans-serif;
  text-align: center;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.container {
  max-width: 400px;
  width: 100%;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

.reset {
  font-weight: bold;
  font-size: x-large;
  text-align: left;
}

.form-control {
  background: #fff;
  font-size: 16px;
  padding: 11px 40px 11px 12px; /* Adjust padding to make room for the icon */
  height: auto;
  outline: 0;
  width: 100%;
  border-radius: 8px;
  border: 1px solid #D3D3D3;
  outline: none;
  display: inline-block;
  position: relative; /* Ensure relative positioning for child absolute elements */
}

.form-control::placeholder {
  color: #D3D3D3;
}

.fa-solid {
  color: #D3D3D3;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}

.fa-eye-slash {
  right: 10px;
}

.fa-eye {
  right: 10px;
  display: none; /* Initially hidden */
}

.custom-btn {
  width: 100%;
  border: none !important;
  font-size: 16px !important;
  font-weight: 400;
  border-radius: 8px !important;
  padding: 12px 0 !important;
  background-color: #D3D3D3;
  color: #ffffff;
}

.error-message {
  color: red;
  font-size: 14px;
  margin-top: 5px;
}

.password-criteria {
  font-size: 14px;
  margin-top: 10px;
  display: none; /* Initially hidden */
}

.password-criteria span {
  display: block;
  margin-bottom: 5px;
}

.valid {
  color: green;
}

.invalid {
  color: red;
}

.password-toggle {
  position: relative;
}

.password-toggle .fa-eye,
.password-toggle .fa-eye-slash {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}